*.gem
build
.vagrant
.DS_Store
.bundle

.starscope.db
cscope.out
tags

.byebug_history

.rubocop-*
doc
vendor/*
tmp/*
.rspec_status
pkg/*.gem
bin/_guard-core
bin/aruba
bin/coderay
bin/cucumber
bin/cucumber-html-formatter
bin/gherkin
bin/gherkin-ruby
bin/git-fame
bin/htmldiff
bin/ldiff
bin/listen
bin/protoc-gen-ruby
bin/pry
bin/rougify
bin/rpc_server
bin/rubocop
bin/ruby-parse
bin/ruby-rewrite
bin/thor
